---
import AudioComparison from '../../../src/components/AudioComparison.astro';
---

<!doctype html>
<html lang="en">
  <head><meta charset="utf-8" /><title>Audio comparison test</title></head>
  <body>
    <AudioComparison drySrc="/audio/dry.wav" wetSrc="/audio/wet.wav" />
    <AudioComparison drySrc="/audio/dry.wav" wetSrc="/audio/wet.wav" />
  </body>
</html>
